:root {
    --blue:#073763;
	--yellow:#f8b133;
	--red:#d22635;
	--pink: #be1e55;
}

body 
{
    padding:0px;
    margin:0px;
	background-color:var(--blue);
}
.parent
{
    width:1530px;
    position:absolute;
}
.parent h1
{
    text-align:center;
    color:white;
}
.error
{
	text-align:center;
	color:var(--yellow);
}
.selectData
{
	width: 315px;
    height: 35px;
}
/* login.php */
.form
{
    background-color:white;
    width:25%;
    height:80%;
    margin:0px auto;
    position:relative;
    top:55px;
    border-radius:10px;
}
.formHeader
{
    /* #border:1px solid red; */
    background-image:url("../img/loginheader1.png");
    background-size: 100%;
    height:154.5px;
    padding:10px;
}
.formHeader
{
    color:white;
    font-size:35px;
    text-align:center;
}
.formBody
{
    /* #border:1px solid purple; */
    padding:10px 25px;
}
.formBody input
{
    padding:8px;
    width:300px;
    margin-bottom:20px;
}
.formBody label
{
    display:block;
}
.formFooter
{
    /* #border:1px solid blue; */
    padding:10px;
    text-align:center;
}
.submitbtn
{
    margin-left:10px;
}
.forget
{
    text-decoration:none;
}

/* studentAdd.php */
.formoutside h2
{
	color: var(--yellow);
}
.formoutside form
{
	background-color:white;
	width:50%;
	margin:0px auto;
	padding:20px;
}
.formoutside p
{
	text-align:center;
	font-size:20px;
}
.forminside input
{
	padding:8px;
	width:300px;
	margin-bottom:20px;
}
.forminside label
{
	display:block;
}
.forminside #Active #Not_active
{
	width:0px;
}
.password
{
	width: 50%;
    float: left;
}
.fname
{
	width:60%;
	float:left;
}
.lname
{
	width:60%;
	float:left;
}
.gender
{
	width:60%;
	float:left;
}
.age 
{
	width:60%;
	float:left;
}
.dob
{
	width:60%;
	float:left;
}
.dept
{
	width:50%;
	float:left;
}
.email
{
	width:50%;
	float:right;
}
.id
{
	width: 50%;
    float: left;
}
.register_number
{
	width: 50%;
    float: right;
}
.mobile
{
	width:50%;
	float:left;
}
.blood_grp
{
	width: 50%;
}
.address
{
	width:50%;
	float:left;
}

.status
{
	width:50%;
	float:left;
	display:inline;
	padding:unset;
	margin:unset;
}
.avatar
{
	width:75%;
	float:right;
}
.fclear
{
	clear:both;
}

/* studentEdit.php */
.formoutside form
{
	background-color:white;
	width:50%;
	margin:0px auto;
	padding:20px;
}
.formoutside p
{
	text-align:center;
	font-size:20px;
}
.forminside input
{
	padding:8px;
	width:300px;
	margin-bottom:20px;
}
.forminside label
{
	display:block;
}
.fname
{
	width:50%;
	float:left;
}
.lname
{
	width:50%;
	float:right;
}
.dept
{
	width:50%;
	float:left;
}
.email
{
	width:50%;
	float:right;
}
.phone
{
	width:50%;
	float:left;
}
.dob
{
	width:50%;
	float:right;
}
.address
{
	width:50%;
	float:left;
}
.gender
{
	width:50%;
	float:right;
}
.status
{
	width:50%;
	float:left;
	display:inline;
	padding:unset;
	margin:unset;
}
.avataredit
{
	width:70%;
	float:right;
}
.fclear
{
	clear:both;
}

/* studentlist.php */
.parentlist
{
	width:1530px;
	height:690px;
	/* background-color:white; */
	position:absolute;
}
.parent h2
{
	text-align:center;
}
.insert
{
	float:right;
	padding-right:20px;
}
.table
{
	width:80%;
	/* #border: 1px solid red; */
	margin:0 auto;
}
table {
	table-layout: fixed;
	width: 90%;
	border-collapse: collapse;
	/* #border: 3px solid purple; */
	margin:0 auto;
}
 th
{
	background-color:var(--blue);
	color:white;
}
th:nth-child(1) {
	width: 1%;
}
th:nth-child(2) {
		width: 25%;
	}
th:nth-child(3) {
		width: 11%;
	}

th:nth-child(4) {
		width: 8%;
	}
th:nth-child(5) {
		width: 22%;
	}
th:nth-child(6) {
		width: 22%;
	}

th,
td {
  padding: 20px;
  text-align:center;
  border:1px solid #f2f2f2;
}
.filterbtn
{
	background-color: darkgrey;
    width: 20px;
    color: white;
    border-radius: 5px;
}
.image
{
	float:left;
}
.image img
{
	
	object-fit: cover;
	border-radius:10px;
}
.name
{
	padding:15px 20px;
	float:left;
}
.fclear
{
	clear:both;
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 95%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	box-shadow: 1px 2px 3px gray;
}
.labelSuccess
{
	background-color: green;
}
.red
{
	background-color: var(--red);
	text-decoration: none;
}
.blue
{
	background-color:var(--blue);
}
.yellow
{
	background-color:var(--yellow);
}
.yellowA
{
	text-decoration:none;
}
.del 
{	
	text-decoration: none;
}
.edit 
{
	text-decoration: none;
}
.other
{
	background-color: var(--pink);
}
.header
{
	background-color:white;
}
.headername h2
{
	padding:20px;
	color: var(--yellow);
}
.logout
{
	padding: 20px;
    position: absolute;
    top: 25px;
    right: 0px;
}
.logout a
{
	text-decoration:none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 7px;
  z-index: 1;
}

.dropdown-content p a
{
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.adminname
{
	color:var(--blue);
}
.pagination {
	list-style-type: none;
	padding: 10px 0;
	display: inline-flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left:500px;
}
.pagination li {
	box-sizing: border-box;
	padding-right: 10px;
}
.pagination li a {
	box-sizing: border-box;
	background-color: #e2e6e6;
	padding: 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #616872;
	border-radius: 4px;
}
.pagination li a:hover {
	background-color: #d4dada;
}
.pagination .next a, .pagination .prev a {
	text-transform: uppercase;
	font-size: 12px;
}
.pagination .currentpage a {
	background-color: var(--blue);
	color: #fff;
}
.pagination .currentpage a:hover {
	background-color: var(--blue);
}

/* view.php */
	.child
	{
		width:40%;
		height:80%;
		background-color:white;
		margin:50px auto;
		padding:20px;
		border-radius:10px;
	}
	.child p
	{
		
		text-align:center;
		font-size:20px;
	}
	.child div
	{
		padding:10px;
	}
	.profile
	{
		float:left;
		width:40%;
		height:40%;
		/* #background-color:yellow; */
        overflow:hidden;
	}
    .profile img
    {
        width:80%;
		object-fit: cover;
        margin-left:25px;
        border-radius:10px;
        box-shadow:1px 2px 3px grey;
    }
	.personal 
	{
		width:45%;
		float:left;
	}
	.otherdetails
	{
		width:45%;
		float:left;
	}
	.academic
	{
		width:40%;
		float:left;
	}
	.backadd
	{
		margin:0px 270px;
	}
	.backadd a
    {
		text-decoration: none;
	}
    .back
    {
        /* width:50%; */
		height: 400px;
        margin:0px 270px;
    }
	.back a
    {
		text-decoration: none;
	}
    .subhead
    {
        color:var(--blue);
        font-weight:bold;
        /* #background-color:yellow; */
    }